<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="Platform.NET" version="1.2.0.248-rc1" targetFramework="net46" />
  <package id="Platform.VirtualFileSystem" version="1.2.0.120-rc1" targetFramework="net46" />
  <package id="Platform.Xml.Serialization" version="1.2.0.248-rc1" targetFramework="net46" />
</packages>